* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --title: #707070;
  --text: #868686;
  --trace: #b5c401;
  --purple: #7f3992;
  --green: #01ac66;
  --gold: #f79c31;
  --white: #ffffff;
  --ball: #adc0c4;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*header*/
header {
  width: 100%;
  height: 60px;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
header > div {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
.title {
  display: inline;
  color: var(--title);
  border-bottom: 5px solid #b5c401;
  font-weight: 400;
  font-style: italic;
}

.linkMenu {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: var(--title);
  cursor: pointer;
  margin-left: 20px;
}
/*fim Header*/

.container {
  width: 80%;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow: auto;
  display: grid;
  grid-template-rows: calc(100vh - 60px);
  grid-template-columns: 60% 40%;
}

main,
aside {
  margin-top: 20px;
  padding: 20px;
  display: grid;
}
/*Main*/
main {
  grid-template-rows: 60px 20px 60px 25px 50px 40% 80px;
}
.titleMain {
  display: inline;
  font-size: 20px;
  color: var(--title);
  font-weight: bold;
  font-style: italic;
  padding: 10px 0;
}
.titleMain > span {
  font-weight: lighter !important;
}
main > strong {
  color: var(--text);
  font-style: italic;
}
main > p {
  color: var(--text);
  font-style: italic;
}

.containerGames {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 5px;
}
.containerGames > div {
  background-color: var(--ball);
  cursor: pointer;
  color: var(--white);
  border-radius: 50%;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
/*aside*/
aside {
  grid-template-rows: 90px auto 100px;
}
.card {
  overflow: auto;
  list-style-type: none;
  max-height: 500px;
  overflow: auto;
}
.card > li {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70px;
  padding: 10px 0px;
}
.card > li > button {
  font-size: 30px;
  grid-row: span 2;
  cursor: pointer;
  border-right-style: solid;
  border-right-width: 4px;
  margin: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.card > li > p {
  font-size: 15px;
  padding: 10px 0px 0px 5px;
  font-weight: 300;
}
.card > li > strong {
  font-size: 10px;
  padding-left: 9px;
  font-weight: bold;
}

.lotofacil > button {
  border-color: var(--purple);
}
.lotofacil > strong {
  color: var(--purple);
}
.megaSena > button {
  border-color: var(--green);
}
.megaSena > strong {
  color: var(--green);
}
.lotomania > button {
  border-color: var(--gold);
}
.lotomania > strong {
  color: var(--gold);
}
.save {
  font-size: 2rem;
  color: var(--green);
  text-align: center;
  cursor: pointer;
  display: inline;
}
/*Botões*/

.bottoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottoes > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
.buttonContainer {
  padding: 15px 0;
  width: 390px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  cursor: pointer;
}
.buttonDefault {
  border: none;
  background: none;
}
.buttonSelectGame {
  width: 113px;
  height: 34px;
  font-style: italic;
}
.bottoesAction {
  padding: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonType1 {
  border-color: var(--purple);
  color: var(--purple);
}
.buttonType2 {
  border-color: var(--green);
  background-color: var(--green);
  color: var(--white);
}
.buttonType2 > span {
  margin-right: 10px;
  font-size: 15px;
}
.buttonType3 {
  border-color: var(--gold);
  color: var(--gold);
}
.buttonType4 {
  border-color: var(--green);
  color: var(--green);
}
button:hover {
  transform: scale(1.05);
}
.selected {
  background: black !important;
}
@media screen and (max-width: 995px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: auto;
  }
  main {
    grid-template-rows: 90px 20px 60px 25px 80px 1fr 80px;
  }
  .containerGames {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(9, 40px);
  }
}
@media screen and (max-width: 768px) {
  .containerGames {
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(5, 40px);
  }
}
